@model Dream.SSO.Models.User
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h4>修改密码</h4>
<div class="line"></div>
@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.ValidationSummary(true)
    </div>
}
@if (ViewBag.message != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.message
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
  
    <div class="form-group row">
        <div class="col-md-2 align-right">
            原密码
        </div>

        <div class="col-md-8">
            @Html.Password("oldpassword")
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 align-right">
            新密码
        </div>

        <div class="col-md-8">
            @Html.Password("newpassword")
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">

        </div>

        <div class="col-md-8">
            <button type="submit" class="btn btn-info">修改密码</button>
        </div>
    </div>


}
